# Ignore all files for language stats
* linguist-vendored
# Keep JS generated diffs hidden
*.js linguist-generated
bin/phpurs.js linguist-generated

# Only include target language
*.php linguist-vendored=false
